@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .nav-button {
    position: relative;
  }

  .nav-button:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
  }

  .nav-button:hover {
    color: black;
  }

  .nav-button:hover:after {
    width: 100%;
  }
}

@font-face {
  font-family: "ClashDisplayBold";
  src: local("ClashDisplayBold"),
    url("./fonts/ClashDisplay-Bold.woff") format("woff"),
    url("./fonts/ClashDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ClashDisplaySemibold";
  src: local("ClashDisplaySemibold"),
    url("./fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("./fonts/ClashDisplay-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "ClashDisplayMedium";
  src: local("ClashDisplayMedium"),
    url("./fonts/ClashDisplay-Medium.woff") format("woff"),
    url("./fonts/ClashDisplay-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "ClashDisplayRegular";
  src: local("ClashDisplayRegular"),
    url("./fonts/ClashDisplay-Regular.woff") format("woff"),
    url("./fonts/ClashDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ClashDisplayLight";
  src: local("ClashDisplayLight"),
    url("./fonts/ClashDisplay-Light.woff") format("woff"),
    url("./fonts/ClashDisplay-Light.woff2") format("woff2");
}
